body {
    background: #C0DEED url(../images/background.png) repeat-x;
    padding:0;
    margin:0;
}

#welcome-text{
    width: 100%;
    margin: 20px 0;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    color: #232345;
    text-shadow: 2px 1px 2px #222;
}

#login-button{
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding: 10px;
    top: 300px;
    width: 151px;
    height: 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 2px 2px 2px #454, -2px -2px 2px #454;
    -webkit-box-shadow: 2px 2px 2px #454, -2px -2px 2px #454;
}

#main-container{
    width: 900px;
    height: 100%;
    margin: 20px auto;
    padding: 40px;
}

#menu-container{
   width: 100%;
   height: 50px;
   background: url(../images/bg-menu.png) repeat-x;
   text-align: center;
}

#menu-container ul{
   list-style:none;
   width: 350px;
   margin: 0 auto;
}

#menu-container ul li{
    float:left;
    margin-top: 8px;
}

#menu-container ul li a,#menu-container ul li a:visited{
    padding: 15px 10px;
    color: #a4a4a4;
    text-decoration: none;
    text-shadow: 1px 1px 1px #222;
    border-left: solid 1px #454545;
     border-right: solid 1px #252525;
}

#menu-container ul li a.logout, #menu-container ul li a.logout:visited {
    padding-left: 100px;
}

#menu-container ul li a:hover{
    color: #fff;
}

a.current{
    color: white !important;
    background: #555;
    border: none !important;
}

#tw_count{
	font-family:verdana, arial;
	color:#cccccc;
	font-weight:bolder;
	width:50%;
	float:right;
	font-size:28px;
	text-align:right;
	text-shadow: 1px 1px 1px #555;
	margin-bottom: 5px;
}
#tw_tag{
	font-weight:bolder;
	width:50%;
	float:left;
	font-size:20px;
    color: #aeaeae;
    text-shadow: 1px 1px 1px #222222;
}

#tw_text{
    width: 520px;
    margin-bottom: 10px;
    background-color:#EEE;
	border:thin solid #CCC;   
}

#left{
	font-family:verdana, arial;
	color:#000000;
	float:left;
	height:auto;
	width:520px;
	/*border:thin solid #FCC;*/
	display:box;
	background-color:#FFF;
	padding:10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #222222;
    -webkit-box-shadow: 2px 2px 3px #222222;
}
#right{
	font-family:verdana, arial;
	color:#000000;
	float:right;
	height:auto;
	width:300px;
	/*border:thin solid #CFC;*/
	display:box;
    background-color:#DBEDF5;
	padding:10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #222222;
    -webkit-box-shadow: 2px 2px 3px #222222;
    color: #356;
}

.profile-label{
   font-weight: bold;
   color:  #222;
}

#time-line{
	font-family:verdana, arial;
	color:#000000;
	width:520px;
	/*border:thin solid #CCF;*/
	display:box;
	float:left;
}

#time-line span{
    display:block;
    width: 520px;
    color: #222222;
    font-weight: bold;
    font-size: 14pt;
    margin: 10px;
}

#time-line div{
    height: 70px;
    background: #F4FAFC;
    color: #333;
    padding-top: 5px;
    border-top: solid 1px #898989;
}

#time-line div:hover{
    background: #DBEDF5;
}

#time-line img{
    float:left; 
    margin:0 5px;    
}

hr{
    clear:left;
    margin:0;
}

#tweet-button{
    background: url(../images/tweet-button.png) no-repeat;
    border:none;
    width: 75px;
    height: 40px;
    cursor: pointer;
    color: #999;
    font-size: 12pt;
	text-shadow: 1px 1px 1px #999;
}

#tweet-button:hover{
    background: url(../images/tweet-button.png) no-repeat 0 -40px;
}

/**** contact.php styles *****/

#contact-text{
    width: 100%;
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    color: #232345;
    text-shadow: 1px 1px 1px #222;
}

.contact-form table{
   margin: 20px auto 0px auto;
}

.contact-form .txt{
   background: url(../images/bg-input-text.jpg) repeat-x;
   height: 30px;
   border: solid 1px #a3a3a3;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   box-shadow: 1px 1px 2px #222;
   color: #333;
   padding: 5px;
}

.contact-form label{
   color: #7f3f3f;
   text-shadow: 1px 1px 2px #999;
}

.contact-form textarea#message{
   height: 180px;
   background: #90C2D9 url(../images/bg-textarea.jpg) repeat-x;
}

#send-button{
    background: url(../images/tweet-button.png) no-repeat;
    border:none;
	margin-top: 10px;
    width: 75px;
    height: 40px;
    cursor: pointer;
    color: #888;
    font-size: 12pt;
}

#send-button:hover{
    background: url(../images/tweet-button.png) no-repeat 0 -40px;
}